<div id="page_header">

  <div id="ph_back_image">

    <div id="ph_main">
      <div id="ph_container">
        <div id="ph_service_icon">
          <img id="ph_service_icon_img" src="/images/demo.jpg">
        </div>
        <div id="ph_service_name">
          <p id="ph_service_name_p">MacBook 初心者講座 スライド資料</p>
        </div>
      </div>
    </div>


    <div id="ph_list">
      <ul id="ph_list_ul">
        <!-- 現在のページのリンクには、idを振る予定(テンプレート生成時にサーバー側で) -->
        <li id="check_on_li" class="ph_list_li"><span id="check_on_span">Contents</span></li>
      </ul>
    </div>

    <i id="ph_button" class="fab fa-github"></i>

  </div>

</div>

<main>

  <div id="home">

    <% @res.each do |content| %>

    <div class="post">
      <div class="post_img">
        <img src="/images/<%= content['slide_num'] %>.png">
      </div>
      <div class="post_content">
        <div class="img_title">
          <p><%= content['title'] %></p>
        </div>
        <div class="description">
          <p><%= content['content'] %></p>
        </div>

      </div>
    </div>

    <% end %>

    <div id="add_form">
      <form action="/add" method="POST">
        <label for="title">タイトル：</label>
        <input id="title" type="text" name="title">
        <label for="side_num">スライド番号：</label>
        <input id="slide_num" type="number" name="slide_num">
        <label for="content">コンテンツ：</label>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <input type="submit" value="Add Item">
      </form>
    </div>

  </div>

  </div>

</main>